<a href="https://colab.research.google.com/github/pikachu-training/pikachu-training/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Function is a block of code
#Function has some name

In [2]:
a= input("First Name")
b=input("Last Name")
c= a+b
print(c)

First NameKiran
Last NameAvulasetty
KiranAvulasetty

In [5]:
def add():
  a = int(input("First Number"))
  b= int(input("Second Number"))
  c=a+b

In [6]:
add()

First Number34
Second Number35

In [7]:
# predefined function/inbuilt-function
# user defined function

#1.takes nothing, returns nothing
#2.takes something, returns nothing
#3.takes nothing, returns something
#4.takes something, returns something

In [9]:
def add1(a,b):

  c=a+b

In [10]:
add1(3,4)

In [12]:
def add2():
  a = int(input("First Number"))
  b= int(input("Second Number"))
  c=a+b
  return c

In [13]:
add2()

First Number3
Second Number5

8

In [15]:
def sub(a,b):

  c=a-b

  return c

In [16]:
sub(9,5)

4

In [17]:
def mul(a,b=1,c=1):

  m=a*c*b

  return m

In [18]:
mul(2)

2

In [19]:
mul(2,3,4)

24

In [21]:
def summ(a,b,c=0):
  s=a+b+c

  return s

In [22]:
def f1(a,b):
  print("a=",a,"b=",b)

In [23]:
f1(10,20)

a= 10 b= 20

In [25]:
f1(b=10,a=20)

a= 20 b= 10

In [26]:
f1(a=10,20)

SyntaxError: ignored

In [27]:
f1(10, b=20)

a= 10 b= 20

In [28]:
#variable length arguments

def f2(a,*b):
  print(a)
  print(b,type(b))

In [29]:
f2(1,2)

1
(2,) <class 'tuple'>

In [30]:
f2(1,2,3,4,5)

1
(2, 3, 4, 5) <class 'tuple'>

In [31]:
def avg(*n):
  s=0
  for x in n:
    s=s+x
  if len(n)!=0:
    return s/len(n)

  return "No Elements"

In [34]:
x= avg(20,34,55,63)
print("Average is ",x)

Average is  43.0

In [35]:
def f3(*points,player_name):
  print(player_name,end="_")
  s=0
  for x in points:
    s=s+x
  print("Total Points=",s)

In [41]:
f3("Kiran",30,40,50,60)

Kiran_Total Points= 180