<a href="https://colab.research.google.com/github/pikachu-training/pikachu-training/blob/main/OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Class <ClassName>:
#statement

In [ ]:
class Aninmals:
  pass


class Person:

States: Name,Gender,Profession
Behaviour: Working, Studying




obj=Alex
State 
Alex,Male,Doctor
Behaviour
working

IndentationError: ignored

In [ ]:
class class_name:
  """This is a sample class, created on 23 sept   """
  #statement1
  #statement2
  .
  .
  .
  #statement3

In [ ]:
class Person:
  def __init__(self, name, Gender,Profession):
    #data members of the class(instance variables)
    self.name = name
    self.Gender =Gender
    self.Profession = Profession
  # Behaviour of class
  def show(self):
    print('Name',self.name,"Gender",self.Gender,"Profession",self.Profession)
  def work(self):
    print(self.name,"working as",self.Profession)

In [ ]:
#creating an object
p=Person('Jhon','male','doctor')

In [ ]:
p.show()

p.work()

Name Jhon Gender male Profession doctor
Jhon working as doctor

In [ ]:
class student:
  #class variable
  school_name ="XYZ School"
  #class constructor
  def __init__ (self, name, age):

    # instance variables
    self.name= name
    self.age= age

In [ ]:
s1= student("Arjun",15)

In [ ]:
# access instance variables
print("Student:",s1.name,s1.age)

Student: Arjun 15

In [ ]:
#Modify instance variable
s1.name ="Alice"
s1.age =18

In [ ]:
print("Student:",s1.name,s1.age)

Student: Alice 18

In [ ]:
#Modify the class variables

#<classname>.<Class variable name>=<value>

student.school_name = "ABC School"

In [ ]:
print('school Name:', student.school_name)

school Name: ABC School

In [ ]:
s={}

In [ ]:
type(s)

dict

In [ ]:
s=[]

In [ ]:
type(s)

list

In [ ]:
s=()

In [ ]:
type(s)

tuple

In [ ]:
s=set()

In [ ]:
type(s)

set

In [ ]:
for l in 'Jhon':
  if l == 'o':
    pass
  print(l, end=", ")

J, h, o, n,

In [ ]:
pow(100,0)

1

In [1]:
"""Types of variable
1.Instance variables
2.Static Variable / Class Variable
3.Local Variable
4.Global Variable"""

'Types of variable\n1.Instance variables\n2.Static Variable / Class Variable\n3.Local Variable\n4.Global Variable'

In [ ]:
class student:
  #class variable
  school_name ="XYZ School"
  #class constructor
  def __init__ (self, name, age):

    # instance variables
    self.name= name
    self.age= age

In [ ]:
t1=student("kiran",00)

In [ ]:
print("Name:", t1.name,"Age",t1.age)

Name: kiran Age 0

In [ ]:
class Person:
  def __init__(self, name, Gender,Profession):
    #data members of the class(instance variables)
    self.name = name
    self.Gender =Gender
    self.Profession = Profession
  # Behaviour of class
  def show(self):
    print('Name',self.name,"Gender",self.Gender,"Profession",self.Profession)
  def work(self):
    print(self.name,"working as",self.Profession)

In [ ]:
class Account:
  def f1(self,a,b):
    self.accno= a
    self.b_name ="ABC"
    self.balance =b

In [ ]:
acc1 =Account()

In [ ]:
acc1.accno=100

In [ ]:
#acc1.balance =100000
#acc1.name ="kiran"
acc1.b_name="XYZ"

In [ ]:
print(acc1.__dict__)#Dunder function

{'accno': 100, 'balance': 100000, 'name': 'kiran', 'b_name': 'XYZ'}

In [ ]:
# static
# aren't object specific
#shared variables among all the objects

In [ ]:
class Employee:
  def __init__(self):#constructor
    self.name="Kiran"
    self.company="ABC"
    self.address= "UK"
    del self.company

In [ ]:
e=Employee()

In [ ]:
print("Name of Employee",e.name)
print("Name of Company",e.company)
print("Address of the Employee",e.address)

Name of Employee Kiran

AttributeError: ignored

In [ ]:
print(e.__dict__)

{'name': 'Kiran', 'address': 'UK'}

In [ ]:
del e.company

AttributeError: ignored

In [ ]:
print(e.__dict__)

{'name': 'Kiran', 'address': 'UK'}

In [ ]:
e1=Employee()

In [ ]:
e1.__dict__

{'name': 'Kiran', 'address': 'UK'}

In [ ]:
e1.company="ABC"

In [ ]:
e1.__dict__

{'name': 'Kiran', 'address': 'UK', 'company': 'ABC'}

In [ ]:
e.__dict__

{'name': 'Kiran', 'address': 'UK'}

In [3]:
#@title Default title text
#Types of Variables in OOPs

In [4]:
#Types of Variables in OOPs
# Class Variables/Static variables
# Instance Variables

In [25]:
from os import chdir
class Car:
   wheels =4 # class variable/static variable
   def __init__(self):
     self.mil =20#instance variables
     self.com ="BMW"# instance variable


car1= Car()
car2= Car()

In [14]:
print(car1.mil,car1.com,car1.wheels)
print(car2.mil,car2.com,car2.wheels)

20 BMW 4
20 BMW 4

In [16]:
Car.wheels= 5

In [17]:
print(car1.mil,car1.com,car1.wheels)
print(car2.mil,car2.com,car2.wheels)

20 BMW 5
20 BMW 5

In [19]:
car1.mil=18

In [20]:
print(car1.mil,car1.com,car1.wheels)

18 BMW 5

In [21]:
print(car1.mil,car1.com,car1.wheels)
print(car2.mil,car2.com,car2.wheels)

18 BMW 5
20 BMW 5

In [22]:
car3=(70, "ABC")

In [30]:

class Car:
   wheels =4 # class variable/static variable
   def __init__(self,m,c):
     self.mil =m#instance variables
     self.com =c# instance variable

In [31]:
car3=Car(70, "ABC")

In [32]:
print(car3.mil,car3.com,car3.wheels)

70 ABC 4

In [ ]:
#types of methods
# Class method
# Static method
# Instance method

In [81]:

class Student:
  school = "ABC"
  def __init__(self, m1, m2,m3):
    self.m1 =m1
    self.m2 =m2
    self.m3 =m3
  #below is instance
  def avg(self):
    return (self.m1+self.m2+self.m3)/3

 # accessor method of instance method
  def get_m1(self):
    return self.m1
 # mutator method of instance method
  def set_m1(self,value):
    self.m1 = value


    #class method

  @classmethod
  def get_info(cls):
    return cls.school

  
  @staticmethod
  def info(m,n):
    print(m)
    print(n)
    print("This is Student Class")




# Class variables = Static Variables
# Class method != Static method

In [82]:
#s1.get_m1()
#s1.set_m1(80)
Student.get_info()

'ABC'

In [83]:
Student.info("Kiran",00)

Kiran
0
This is Student Class

In [65]:
s1=Student(34, 67,32)
s2=Student(80,32,12)

In [47]:
print()

In [57]:
s1.avg()

59.666666666666664

In [49]:
s2.avg()

41.333333333333336

In [ ]:
#instance method
#accesor method
#mutator method